/*
INDICE

--  01. Shared
--- 01.1. config
--- 01.2. header
--- 01.3. footer
--  02. Home
--- 02.1. Banner
--- 02.2. Products

*/

/*
*** 01. SHARED
*/

/* 01.1. Config */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
:root {
    --primary-color: #0898ff;
    --secondary-color: #E18335;
    --primary-color-hover: #1E91D6;
    --primary-extra-1-color: #08d6ff;
    --primary-extra-2-color: #0efff9;
    --secondary-extra-color: #FFA963;
    --text-color: #000;
    --section-margin: 100px;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

/* 01.2. header */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1% 5%;
}

header #logo{
    width: 100px;
}

header nav {
    width: 50%;
}

header nav ul {
    display: flex;
    justify-content: flex-end;
}

header nav ul li {
    list-style-type: none;
}

header nav ul li:hover {
    color: var(--secondary-color);
}

header nav ul a{
    text-decoration: none;
    color: #000;
    margin: 0 2%;
}
#logo-mobile {
    display: none;
}

header button {
    display: none;
}

@media screen and (max-width: 768px) {
    header nav {
        display: none;
        z-index: 999;
        position: fixed;
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100vh;
        left: 0;
        top: 0;
        justify-content: flex-start;
    }

    header nav.active {
        display: block;
    }

    header nav ul{
        transform: translateX(-100%);
        transition-duration: 10s;
        background-color: #fff;
        height: 100vh;
        width: 80%;
        display: block;
        margin: 0;
        padding: 20px;
    }

    header nav.active ul {
        transition-duration: 1s;
        transform: translateX(0);   
    }

    header button {
        background-color: transparent;
        color: #000;
        border: none;
        cursor: pointer;
        font-size: 30px;
        display: block;
    }

    header nav button {
        position: fixed;
        right: 10px;
        top: 15px;
        background-color: transparent;
        color: #fff;
        border: none;
        cursor: pointer;
        font-size: 30px;
    }

    header nav ul li{
        margin: 0;
        padding: 0;
    }
    #logo-mobile {
        display: flex;
    }

    #logo-mobile img {
        margin: auto;
    }
}

/* 01.3. footer */

footer.dashboard {
    margin-top: 100px;
}

footer {
    padding: 50px 0;
    background-color: #000;
    color: #fff;
}

footer img {
    filter: invert(1);
}

footer .row {
    display: grid;
    grid-template-columns: 20% 25% 25% 30%;
}

footer .row .col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 768px) {
    footer .row .col {
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    footer .row .col:first-child {
        align-items: center;
    }
}

footer .row .col ul{
    list-style-type: none;
    padding: 0;
}

footer .row .col ul a{
    text-decoration: none;
    color: #fff;
}

footer #logo-footer {
    width: 150px;
    margin: auto;
}

footer #absolute-footer {
    margin-top: 20px;
    padding: 20px;
}

footer #absolute-footer p{
    text-align: center;
    margin: 0;
    font-size: 11px;
}

footer h2 {
    margin: 0;
}

footer .social-media svg{
    fill: #fff;
    margin-right: 15px;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer #absolute-footer a {
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    footer .row {
        grid-template-columns: 100%;
    }
    footer .row .col {
        margin: 5px 20px;
    }
}

/*
*** 02. HOME
*/

/* 02.1. Banner */

.banner {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner a {
    text-decoration: none;
    display: block;
    margin: 0 auto;
    width: fit-content;
}
a.button {
    display: flex;
    width: fit-content;
    text-decoration: none;
    margin: 15px auto 15px;
}
a.button.__invert button {
    background-color: transparent;
    border: #fff 2px solid;
}
a.button button{
    background-color: var(--secondary-color);
    color: #fff;
    padding: 10px 40px;
    border-radius: 7px;
    cursor: pointer;
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 5px;
    border: 2px solid transparent;
}
a.button button:hover {
    background-color: #fff;
    color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
}
a.button button:hover svg {
    fill: var(--secondary-color);
}
a.button button svg{
    fill: #fff;
    font-size: 20px;
}
.banner#banner-home {
    background: linear-gradient(to bottom, rgba(225, 131, 53, 0.52), rgba(0, 0, 0, 0.73)),
    url('banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 80%;
}

.banner h2 {
    font-size: 2vw;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}

.banner h2 span {
    font-size: 5vw;
    display: block;
    color: var(--primary-color);
}

@media screen and (max-width: 768px) {
    .banner h2 {
        font-size: 4vw;
    }
    .banner h2 span {
        font-size: 8vw;
    }
}

/* 02.2. Products */

#products {
    margin: calc(var(--section-margin) / 2) var(--section-margin);
}

#products .row {
    display: grid;
    grid-template-columns: 33.3% 33.4% 33.3%;
}

#products .row .col{
    margin: 5px 0;
    text-align: center;
    position: relative;
}

#products .row .col span.tag{
    position: absolute;
    top: 2.5%;
    left: 12.5%;
    padding: 5px 10px;
    border-radius: 10px;
    color: #fff;
}

#products .row .col span.tag.blue{
    background-color: blue;
}

#products .row .col span.tag.green{
    background-color: green;
}


#products .row .col img{
    width: 80%;
}

#products .row .col button{
    background-color: var(--primary-color);
    border: none;
    color: #fff;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
}

#products .row .col button:hover{
    background-color: var(--primary-color-hover);
}

#products .row .col h3{
    margin: 15px 0;
    font-size: 25px;
}

#products .row .col h3 span{
    font-size: 15px;
}

#products .row .col h2{
    font-size: 20px;
    margin: 0;
}
#products .row .col p{
    margin: 5px 0;
}

@media screen and (max-width: 768px) {
    #products .row {
        grid-template-columns: 50% 50%;
    }
    #products .row .col{
        margin: 20px auto;
    }
    #products {
        margin: calc(var(--section-margin) / 4) 0;
    }
    #products .row .col h3 span{
        font-size: 12px;
    }
    #products .row .col h2{
        font-size: 14px;
        margin: 0;
    }
    #products .row .col h3{
        margin: 5px 0;
        font-size: 15px;
    }
}

/* 02.2. Mini Banner */

#mini-banner {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.73)),
    url('./img/mini-banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    color: #fff;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#mini-banner span {
    color: var(--primary-color);
}


#mini-banner h2 {
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
}

#mini-banner h2 span.consertos {
    font-size: 46px;
}

@media screen and (max-width: 768px) {
    #mini-banner h2 {
        font-size: 25px;
    }
    .banner button{
        padding: 10px 20px;
    }
}

/*
*** 03. ABOUT
*/
/* 03.1. about text */


#about {
    margin: calc(var(--section-margin) / 2) var(--section-margin);
}

#about .about-text .row {
    display: grid;
    grid-template-columns: 50% 50%;
}

#about .about-text .row .col{
    padding: 0 15px;
}

#about .about-text .row .col img{
    width: 100%;
}

#about .about-text .row .col h2{
    margin: 0;
}

#about #mvv {
    margin: var(--section-margin) 0;
}

#about #mvv .row {
    display: grid;
    grid-template-columns: 33% 34% 33%;
}

#about #mvv h2 {
    text-align: center;
    margin: 0;
}

#about #mvv p {
    text-align: center;
}

#about #mvv svg {
    text-align: center;
    color: var(--secondary-color);
    font-size: 40px;
}

#about #mvv .row .col{
    display: flex;
    flex-direction: column;
}

#about #mvv .row .col svg{
    margin: 10px auto;
}

@media screen and (max-width: 768px) {
    #about {
        margin: calc(var(--section-margin) / 2) 0;
    }
    #about .about-text .row {
        grid-template-columns: 100%;
    }
    #about .about-text .row .col{
        margin: 20px 0;
    }
    #about #mvv .row {
        grid-template-columns: 100%;
    }
    #about #mvv {
        margin: 0;
    }
    #about #mvv .row .col{
        margin: 20px 0;
    }
    #about #mvv .row .col svg{
        margin: 10px auto;
    }
}
/*
*** 04. CONTACT PAGE
*/
/* 04.1. form */

#contact {
    margin: calc(var(--section-margin) / 2) var(--section-margin);
}

#contact .row {
    display: grid;
    grid-template-columns: 50% 50%;
}

#contact .row .col {
    padding: 0 15px;
}

#contact .row .col input, #contact .row .col textarea, #contact .row .col select {
    display: block;
    width: 100%;
    margin: 10px 0;
    border-radius: 3px;
    border: 1px solid #c4c4c4;
    padding: 5px 10px;
}

#contact .row .col form {
    display: flex;
    flex-direction: column;
}

#contact .row .col button {
    border: none;
    background: var(--primary-color);
    color: #fff;
    margin: 15px 0 15px auto;
    padding: 10px 25px;
    border-radius: 5px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    #contact {
        margin: calc(var(--section-margin) / 4) 0;
    }
    #contact .row {
        grid-template-columns: 100%;
    }
    #contact .row .col{
        margin: 20px 0;
    }
    #contact .row .col button {
        margin: 15px auto;
    }
}

/*
*** 05. SINGLE PRODUCT PAGE
*/

#single-product {
    margin: calc(var(--section-margin) / 2) var(--section-margin);
}

#single-product #single-product-main .row{
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 20px;
}

#single-product #single-product-main .splide__slide img {
    width: 100%;
}

#single-product #single-product-info span#price{
    font-size: 20px;
    font-weight: 700;
}

#single-product #single-product-info button{
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    display: block;
    margin-top: 15px;
    cursor: pointer;
}

#single-product #single-product-info button:hover{
    background-color: var(--primary-color-hover);
}


/*
*** 06. MOTORIZADAS
*/

/* 06.1. Banner */

.banner#banner-motor-bike {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.73)),
    url('banner-motorizada.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.banner#banner-motor-bike h2>span{
    font-size: 5vw;
    display: block;
    color: transparent;
    -webkit-text-stroke: #40afff 5px;
}

/* 06.2. Presentation */

#presentation{
    margin: calc(var(--section-margin) / 2) var(--section-margin);
}

#presentation .row {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 20px;
}

#presentation .row .col img {
    width: 100%;
}

#bike-construction{
    margin: calc(var(--section-margin) / 2) var(--section-margin);
}

#construction svg.icon {
    margin: auto;
    width: fit-content;
    font-size: 50px;
    fill: var(--primary-color);
}

#bike-construction .row{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 20px;
}

#bike-construction .row .col img {
    width: 100%;
}

#store {
    width: 80%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
}
#store svg.icon {
    margin: auto;
    width: fit-content;
    font-size: 50px;
    fill: var(--secondary-color)
}
#store h2 {
    text-align: center;
    font-size: 30px;
    margin: 10px 0;
    color: var(--secondary-color);
}

#store p {
    font-weight: 300;
    text-align: justify;
    font-size: 18px;
}

#store .row {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 5%;
}
#store .row .col {
    display: flex;
}
#store .row .col img{
    width: 100%;
    margin: 0 auto;
    border-radius: 15px;
}

@media screen and (max-width: 768px) {
    #store {
        width: 90%;
    }
    #store .row {
        display: flex;
        flex-direction: column;
    }
    #store .row .col {
        margin: 15px 0;
    }
}

#advantages {
    background-color: var(--secondary-color);
    padding: 20px 0;
}

#advantages .box {
    width: 80%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
}

#advantages .row {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 5%;
    margin-bottom: 25px;
}
#advantages .row .col {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#advantages .row .col svg {
    margin: auto;
    width: fit-content;
    font-size: 50px;
    fill: #fff;
}
#advantages .row .col h2 {
    text-align: center;
    font-size: 20px;
    margin: 10px 0;
    color: #fff;
}

#advantages .row .col p {
    margin: 0;
    color: #fff;
    font-weight: 300;
    font-size: 17px;
}

@media screen and (max-width: 768px) {
    #advantages .box {
        width: 90%;
    }
    #advantages .row {
        display: flex;
        flex-direction: column;
    }
    #advantages .row .col {
        margin: 15px 0;
    }
}

section#construction {
    width: 80%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
}

section#construction h2 {
    text-align: center;
    font-size: 30px;
    margin: 10px 0;
    color: var(--primary-color);
}

section#construction .price {
    margin: 30px 0;
}

section#construction h3 {
    text-align: center;
    margin: 0;
    color: var(--secondary-color);
}

section#construction h4 {
    font-size: 80px;
    text-align: center;
    margin: 0;
    color: var(--primary-color);
}

section#construction p {
    margin: 5px 0;
}

section#construction p {
    font-weight: 300;
    text-align: center;
    font-size: 18px;
}

section#construction img {
    width: 80%;
    margin: auto;
}

@media screen and (max-width: 768px) {
    section#construction {
        width: 95%;
    }
    section#construction img {
        width: 100%;
    }
    section#construction h4 {
        font-size: 50px;
        text-align: center;
        margin: 0;
        color: var(--primary-color);
    }
    section#construction .price p {
        font-size: 13px;
    }
}

section#localization {
    background-color: var(--secondary-color);
    padding: 10px 0;
}

section#localization .box svg.icon {
    font-size: 40px;
    fill: #fff;
}

section#localization .box {
    width: 80%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
}

section#localization h2 {
    text-align: center;
    font-size: 30px;
    margin: 10px 0;
    color: #fff;
}

@media screen and (max-width: 768px) {
    section#localization .box {
        width: 95%;
        margin: 50px auto;
        display: flex;
        flex-direction: column;
    }

    section#localization .box h2 {
        font-size: 25px;
    }
}
